@charset "utf-8";

// FONTS
@font-face {
  font-family: 'Brandon Regular';
  src: url("/assets/fonts/Brandon_reg.otf") format("truetype");
}

@font-face {
  font-family: "Brandon Bold";
  src: url("/assets/fonts/Brandon_bld.otf") format("truetype");
}

@font-face {
  font-family: "Brandon Light";
  src: url("/assets/fonts/Brandon_light.otf") format("truetype");
}

@font-face {
  font-family: "Brandon Medium";
  src: url("/assets/fonts/Brandon_med.otf") format("truetype");
}

$family-sans-serif: "Brandon Regular";

.background {
  background-image: url("/assets/img/hope-8.jpg");
  background-size: cover;
  background-position: top center;
}

// IMPORTS
@import "../../../node_modules/bulma/bulma.sass";








