@charset "utf-8";

// FONTS
$family-sans-serif: "BeauSans Regular";

@font-face {
  font-family: "BeauSans Regular";
  src: url("/assets/fonts/PFBeauSansPro-Regular.otf") format("truetype");
}

@font-face {
  font-family: "BeauSans Bold";
  src: url("/assets/fonts/PFBeauSansPro-Bold.otf") format("truetype");
}

@font-face {
  font-family: "BeauSans Light";
  src: url("/assets/fonts/PFBeauSansPro-Light.otf") format("truetype");
}

@font-face {
  font-family: "BeauSans Bold Italic";
  src: url("/assets/fonts/PFBeauSansPro-BoldItalic.otf") format("truetype");
}

// COLORS
$primary: #0E3192;

// NAVBAR
$navbar-height: 8rem;
$navbar-item-img-max-height: 5rem;
$navbar-burger-color: $primary;
$navbar-background-color: #D0DCFB;

.navbar-burger:hover {
  background-color: #D0DCFB !important;
}

.navbar-burger span {
  height: 2px !important;
  color: #0E3192;
}

.wrapper {
  width: 100%;
  height: auto;
  @media only screen and (min-width: 769px) {
    height: 100vh;
    overflow: hidden;
  }
}

.is-fullscreen {
  width: 100%;
  height: 1300px;
  @media only screen and (min-width: 769px) {
    height: 100vh;
    overflow: hidden;
  }
}

.has-background-image {
  background-image: url("/assets/img/hero-bg.jpg");
  background-size: cover;
  background-position: bottom right;
}

.desktop-menu-container {
  width: 100%;
  position: absolute;
  z-index: 10;
  bottom: 4rem;
  @media only screen and (min-width: 769px) {
    bottom: 0;
  }
}

.modality {
  height: auto;
  padding: 1rem;
  @media only screen and (min-width: 769px) {
    height: 24rem;
    transform: translateY(15rem);
    will-change: transform;
    transition: transform ease-in-out 400ms;
  }
  &--header {
    padding-top: 1rem;
    width: 100%;
    min-height: 40%;
    @media only screen and (min-width: 769px) {
    }
  }
  &--body {
    padding-top: 1rem;
    width: 100%;
    min-height: 10%;
  }
  &--footer {
    padding-top: 1rem;
    width: 100%;
    min-height: 50%;
  }
  &--1 {
    background-color: rgba(9, 31, 93, 0.8) !important;
  }
  &--2 {
    background-color: rgba(14, 49, 146, 0.8) !important;
  }
  &--3 {
    background-color: rgba(18, 62, 186, 0.8) !important;
  }
  &:hover {
    transform: translateY(6rem);
  }
}

.modality--mobile {
  height: 5rem;
  padding: 1rem;
  &--header {
    padding-top: 1rem;
    width: 100%;
    min-height: 40%;
  }
  &__body {
    padding-top: 2rem;
    width: 100%;
    min-height: 60%;
  }
  &__1 {
    background-color: rgba(9, 31, 93, 0.8) !important;
  }
  &__2 {
    background-color: rgba(14, 49, 146, 0.8) !important;
  }
  &__3 {
    background-color: rgba(18, 62, 186, 0.8) !important;
  }
}

.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(10px);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

$spacing-shortcuts: ("margin": "mg");
$spacing-horizontal: "h";
$spacing-vertical: null;
$spacing-values: ("small": 10px, "medium": 30px, "large": 200px);

// IMPORTS
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
