<div class="container is-hidden-touch">
  <div class="columns is-centered is-gapless">
    <div class="column is-one-third">
      <div class="modality modality--1">
        <div class="modality--header">
          <span class="icon is-large mr-3">
            <img src="{{root}}/assets/img/faccar-symbol.svg" alt="Faccar">
          </span>
          <p class="title is-size-4 has-text-white is-uppercase">Educação<br>Presencial</p>
        </div>
        <div class="modality--body">
          <span class="tag is-success is-rounded p-3 pt-4 pb-4">Conheça Nossos Cursos</span>
          <ul class="mt-3">
            <li>
              <span class="icon has-text-white is-medium">
                <i class="fas fa-lg fa-chevron-circle-right"></i>
              </span>
              <a href="https://vestibular.faccar.com.br/presencial" class="is-uppercase has-text-white is-size-5">Graduação</a>
            </li>
            <li>
              <span class="icon has-text-white is-medium">
                <i class="fas fa-lg fa-chevron-circle-right"></i>
              </span>
              <a href="https://www.faccar.com.br/pos-graduacao/a-importancia-da-continuidade-dos-estudos" class="is-uppercase has-text-white is-size-5">Pós-Graduação</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="modality modality--2">
        <div class="modality--header">
          <span class="icon is-large mr-3">
            <img src="{{root}}/assets/img/faccar-symbol.svg" alt="Faccar">
          </span>
          <a href="https://vestibular.faccar.com.br/semipresencial">
            <p class="title is-size-4 has-text-white is-uppercase">Educação<br> Semipresencial</p>
          </a>
        </div>
        <div class="modality--body">
          <span class="tag is-success is-rounded p-3 pt-4 pb-4">Conheça Nossos Cursos</span>
          <ul class="mt-3">
            <li>
              <span class="icon has-text-white is-medium">
                <i class="fas fa-lg fa-chevron-circle-right"></i>
              </span>
              <a href="https://vestibular.faccar.com.br/semipresencial" class="is-uppercase has-text-white is-size-5">Graduação</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="modality modality--3">
        <div class="modality--header">
          <span class="icon is-large">
            <img src="{{root}}/assets/img/faccar-symbol.svg" alt="Faccar">
          </span>
          <p class="title is-size-4 has-text-white is-uppercase">Educação<br>a Distância</p>
        </div>
        <div class="modality--body">
          <span class="tag is-success is-rounded p-3 pt-4 pb-4">Conheça Nossos Cursos</span>
          <ul class="mt-3">
            <li>
              <span class="icon has-text-white is-medium">
                <i class="fas fa-lg fa-chevron-circle-right"></i>
              </span>
              <a href="https://ead.unipar.br/graduacao/" class="is-uppercase has-text-white is-size-5">Graduação</a>
            </li>
            <li>
              <span class="icon has-text-white is-medium">
                <i class="fas fa-lg fa-chevron-circle-right"></i>
              </span>
              <a href="https://ead.unipar.br/pos-graduacao/" class="is-uppercase has-text-white is-size-5">Pós-Graduação</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>