<header class="navbar is-overlay" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://faccar.com.br">
      <img src="{{root}}/assets/img/logo-faccar-h.svg" width="200" height="100">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbar">
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="https://www.faccar.com.br/index.php" class="is-uppercase has-text-weight-bold has-text-primary">Acesse o site</a>
      </div>
      <!-- <div class="navbar-item">
        <a href="https://www.faccar.com.br/aluno-on-line" class="is-uppercase has-text-weight-bold has-text-primary">Aluno Online</a>
      </div> -->
      <div class="navbar-item">
        <a href="https://wa.me/554332558500?text=">
          <button class="button is-success is-uppercase has-text-weight-bold p-5 is-rounded">
            <span class="icon is-large mr-3">
              <i class="fab fa-2x fa-whatsapp"></i>
            </span>
            <span>Chama no Whats</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</header>