<div class="container">
  <div class="columns is-gapless">
    <div class="column is-full-mobile is-one-third-tablet">
      <div class="modality--mobile modality--mobile__1">
        <span class="icon is-large mr-2 is-pulled-left">
          <img src="{{root}}/assets/img/faccar-symbol.svg" alt="Faccar">
        </span>
        <p class="title is-size-5 has-text-white is-uppercase">Educação Presencial</p>
        <span class="tag is-success is-rounded p-3 pt-4 pb-4">Conheça Nossos Cursos</span>
        <ul class="mt-3">
          <li>
            <span class="icon has-text-white is-medium">
              <i class="fas fa-lg fa-chevron-circle-right"></i>
            </span>
            <a href="https://vestibular.faccar.com.br/presencial" class="is-uppercase has-text-white is-size-5">Graduação</a>
          </li>
          <li>
            <span class="icon has-text-white is-medium">
              <i class="fas fa-lg fa-chevron-circle-right"></i>
            </span>
            <a href="https://www.faccar.com.br/pos-graduacao/a-importancia-da-continuidade-dos-estudos" class="is-uppercase has-text-white is-size-5">Pós-Graduação</a>
          </li>
        </ul>
    
      </div>
    </div>
    <div class="column is-full-mobile is-one-third-tablet">
      <div class="modality--mobile modality--mobile__2">
        <span class="icon is-large mr-1 is-pulled-left">
          <img src="{{root}}/assets/img/faccar-symbol.svg" alt="Faccar">
        </span>
        <p class="title is-size-5 has-text-white is-uppercase">Educação<br>SemiPresencial</p>
      </div>
    </div>
    <div class="column is-full-mobile is-one-third-tablet">
      <div class="modality--mobile modality--mobile__3">
        <span class="icon is-large mr-2 is-pulled-left">
          <img src="{{root}}/assets/img/faccar-symbol.svg" alt="Faccar">
        </span>
        <p class="title is-size-5 has-text-white is-uppercase">Educação<br>a Distância</p>
      </div>
    </div>
  </div>
</div>


<div class="modality modality--1">
  <div class="modality--header">
    <span class="icon is-large mr-3">
      <img src="{{root}}/assets/img/faccar-symbol.svg" alt="Faccar">
    </span>
    <p class="title is-size-4 has-text-white is-uppercase">Educação<br>Presencial</p>
  </div>
  <div class="modality--body">
  </div>
</div>