<div class="container">
  <div class="columns is-gapless">
    <div class="column is-full-mobile is-one-third-tablet">
      <div class="modality--mobile modality--mobile__1">
        <span class="icon is-large mr-3 is-pulled-left">
          <img src="{{root}}/assets/img/faccar-symbol.svg" alt="Faccar">
        </span>
        <p class="title is-size-5 has-text-white is-uppercase">Educação<br>Presencial</p>
      </div>
    </div>
    <div class="column is-full-mobile is-one-third-tablet">
      <div class="modality--mobile modality--mobile__2">
        <span class="icon is-large mr-3 is-pulled-left">
          <img src="{{root}}/assets/img/faccar-symbol.svg" alt="Faccar">
        </span>
        <a href="https://vestibular.faccar.com.br/semipresencial">
          <p class="title is-size-5 has-text-white is-uppercase">Educação<br> Semipresencial</p>
        </a>
      </div>
    </div>
    <div class="column is-full-mobile is-one-third-tablet">
      <div class="modality--mobile modality--mobile__3">
        <span class="icon is-large mr-3 is-pulled-left">
          <img src="{{root}}/assets/img/faccar-symbol.svg" alt="Faccar">
        </span>
        <p class="title is-size-5 has-text-white is-uppercase">Educação<br>a Distância</p>
      </div>
    </div>
  </div>
</div>
